@import "tailwindcss";

:root {
    --font-poppins: var(--font-poppins);
    scroll-behavior: smooth;
}

html{
    scroll-behavior: smooth;
}

*{
    font-size: small;
}
#foot *{
    font-size: small;
}
body{
    font-size: 16px;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: var(--font-urbanist), sans-serif;
}
.chakra-select__control button{
    border-color: transparent!important;
}
.chakra-select__positioner{
    width: fit-content!important;
}
button{
    border-radius: 10px;
}
input {
    font-size: 18px;
}
form * {
    font-size: 1.3rem;
}